doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(type="text/javascript" , src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
  body
      div(id="top")
          div Pulse Customer Service
          div
              ul
                li
                  a(href="#") Home
                li
                    a(href="#") Affiliate Search
                    ul
                        li
                            <a href="#">All Listings</a></li>
                        li
                            <a href="#">Offices</a></li>
                li
                    a(href="#") About us
                li
                    a(href="#") Contact us
      div(id="content")
        block content
      div(id="bottom")
          div
            <span>Copyright © 2002-2017</span>. All rights reserved.
          div
              span
                a(href="http://www.lwolf.com" target="_blank") Internet Marketing for Real Estate Agents
              a(href="http://www.lwolf.com" target="_blank")  by  Lone Wolf Real Estate Technologies.
          div(align="center" style="padding-top:5px;")
            a(href="http://www.lwolf.com", target="_blank")
                img(src="http://www.mm4a.com/images/lonewolf/lonewolf_40.png", border="0")
