extends layout

block content
  h1= "Email Clean Up"
  form(action="/email/bleach" method="post" enctype="multipart/form-data")
      input(type="file", name="datafile")
      br
      br
      input(type="submit", name="Upload")

