body {
    color: #363636;
    font-family: Verdana, Arial, Helvetica;
    margin: 0px;
}

body a {
    color: #363636;
    font-family: Verdana, Arial, Helvetica;
}

#top {
    margin-bottom: 0.5em;
}

#top > div:first-child {
    font-size: 3em;
    color: darkblue;
    padding: 0.5em 0.5em;
}

#top > div:last-child {
    display: inline-block;
    width: 100%;
    background-color: black;
}

#top > div:last-child ul {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
    padding: 0em 0.5em;
}

#top > div:last-child ul li {
    float: left;
    margin-right: 10px;
    position: relative;
}

#top > div:last-child > ul > li {
    padding: 0em 0.1em;
    border-left: 0.1em solid white;
}

#top > div:last-child > ul > li:first-child {
    padding: 0em;
    border-left: 0em solid black;
}

#top > div:last-child ul a {
    display: block;
    padding: 0.3em;
    color: #fff;
    text-decoration: none;
}

#top > div:last-child ul a:hover {
    color: #fff;
    background-color: #6b0c36;
    text-decoration: underline;
}

#top > div:last-child ul ul {
    background-color: #fff;
    background: rgba(255, 255, 255, 0);
    list-style: none;
    position: absolute;
    padding-left: 0px;
    left: -9999px;
}

#top > div:last-child ul ul li {
    padding-top: 1px;
    float: none;
}

#top > div:last-child ul ul a {
    white-space: nowrap;
}

#top > div:last-child ul li:hover ul {
    left: 0;
}

#top > div:last-child ul li:hover a {
    background-color: #6b0c36;
    text-decoration: underline;
}

#top > div:last-child ul li:hover ul a {
    text-decoration: none;
}

#top > div:last-child ul li:hover ul li a:hover {
    background-color: #333;
}

#bottom {
    font-style: italic;
    padding: 1em 0em 0.5em 0em;
}

#bottom > div {
    text-align: center;
    padding: 0.2em 0em;
}

#bottom span {
    text-decoration: underline;
}

#bottom a {
    text-decoration: none;
}
